body 
{
    color: black;
    background: red;
  animation: colorChange 4s infinite;
}

@keyframes colorChange {
    0%,100% { background-color: red;}
    50% { background-color: yellow;}
  }

  @keyframes colorChange2 {
    0%,100% { background-color: green;}
    50% { background-color: gold;}
  }

@keyframes  moverResume{
    0%,100% { transform:sKewY(-10deg);}

     50% { transform:sKewY(10deg);}
    
}

.second-captcha{
margin-left: 1px;
}

h1{
    margin-left: 5px;
    font-size: 1.5em;
}

#resume-box
{
    font-family: Papyrus;
    border: dashed greenyellow 10px;
    border-radius:10px;
    margin:50px;
    margin-left: 5rem;
    padding: 20px;
    max-width: 500px;
    animation: moverResume 6s infinite;
}

#resume-inputs
{
    border-top:dashed;
    border-color:gray;
}

#submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
}

.second-captcha{
    border: 1px black solid;
    color: yellow;
}

.nohigh {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .nohigh::selection {
    background: transparent;
  }

  #description{
      background-color: aqua;
      animation: colorChange2 2s infinite;
      text-shadow: 2px 2px green;
  }

.lastNameText{
    color: black;
}
