body 
{
    color: black;
    background: red;
  animation: mymove 6s infinite;
}

@keyframes mymove {
    from {background-color: red;}
    to {background-color: yellow;}
  }

.second-captcha{
margin-left: 1px;
}

h1{
    margin-left: 5px;
    font-size: 1em;
}

#resume-box
{
    font-family: Papyrus;
    border:dotted greenyellow 10px;
    border-radius:10px;
    margin:50px;
    margin-left: 5rem;
    padding: 20px;
    max-width: 500px;
    transform: skewY(7deg);

}

#resume-inputs
{
    border-top:dashed;
    border-color:gray;
}

#submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
}

.second-captcha{
    border: 1px black solid;
    color: yellow;
}

.nohigh {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .nohigh::selection {
    background: transparent;
  }
